name: Trigger auto deployment for agentic-rag-voice

# When this action will be executed
on:
  # Automatically trigger it when detected changes in repo
  push:
    branches: 
      [ main ]
    paths:
    - '**'
    - '.github/workflows/agentic-rag-voice-AutoDeployTrigger-7cc92a62-05a1-4689-9cf8-f4160875ebb0.yml'

  # Allow manual trigger 
  workflow_dispatch:      

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions: 
      id-token: write #This is required for requesting the OIDC JWT Token
      contents: read #Required when GH token is used to authenticate with private repo

    steps:
      - name: Checkout to the branch
        uses: actions/checkout@v2

      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AGENTICRAGVOICE_AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AGENTICRAGVOICE_AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AGENTICRAGVOICE_AZURE_SUBSCRIPTION_ID }}

      - name: Build and push container image to registry
        uses: azure/container-apps-deploy-action@v2
        with:
          appSourcePath: ${{ github.workspace }}
          _dockerfilePathKey_: _dockerfilePath_
          _targetLabelKey_: _targetLabel_
          registryUrl: 
          registryUsername: ${{ secrets.AGENTICRAGVOICE_REGISTRY_USERNAME }}
          registryPassword: ${{ secrets.AGENTICRAGVOICE_REGISTRY_PASSWORD }}
          containerAppName: agentic-rag-voice
          resourceGroup: testone
          imageToBuild: default/[parameters('containerAppName')]:${{ github.sha }}
          _buildArgumentsKey_: |
            _buildArgumentsValues_


